In [1]:
import pandas as pd
import datetime as dt

In [2]:
Disney_url = "DisneylandReviews.csv"
Happiness_url = "World_Happiness_Report_2018.csv"

In [3]:
disney = pd.read_csv(Disney_url, encoding='latin-1')
happiness = pd.read_csv(Happiness_url, encoding='latin-1')

In [4]:
disney.head()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong

In [5]:
#disney.dropna(subset=['Year_Month'],  inplace=True)

In [6]:
#disney["Year_Month"] = disney["Year_Month"].str.replace('-', '/')

In [7]:
#disney.head()

In [8]:
#disney["Year_Month"]=disney["Year_Month"].apply(lambda x: '{0:0>10}'.format(x))

In [9]:
#disney["Year_Month"] = pd.to_datetime(disney["Year_Month"], format="%Y/%m")

In [10]:
#happiness.head()

In [11]:
#datetimes = disney["Year_Month"].str.split(pat="-", expand=True)
#datetimes.head()

In [12]:
#disney["year"] = disney["Year_Month"].str.split(pat="-", expand=True)[0]

In [13]:
#disney.head()

In [14]:
#disney["year"] = disney["year"].astype(int)

In [15]:
#disney.dtypes

In [16]:
disney = disney.loc[disney["Year_Month"]!="missing",:]

In [17]:
disney["year"] = disney["Year_Month"].str.split(pat="-", expand=True)[0]

In [18]:
disney["year"] = disney["year"].astype(int)

In [19]:
disney.head()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch,year
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong,2019
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong,2019
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong,2019
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong,2019
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong,2019

In [20]:
disney.dtypes

Review_ID             int64
Rating                int64
Year_Month           object
Reviewer_Location    object
Review_Text          object
Branch               object
year                  int64
dtype: object

In [21]:
#disney["year"] = pd.to_datetime(disney["year"], format="%Y-%m-%d").year

In [22]:
#disney.head()

In [23]:
#disney['new'] = pd.DatetimeIndex(disney['year']).year

In [24]:
#disney.head()

In [25]:
#disney.dtypes

In [26]:
#datetimes[1].astype(int)

In [27]:
#datetimes[1] = datetimes[1].apply(lambda x: '{0:0>2}'.format(x))

In [28]:
#datetimes.loc[datetimes[1]=="1":]

In [29]:
#pd.to_datetime(disney["Year_Month"], format="%Y-%m")